Workflows/AI-Support-Ticket-System.json
{
  "name": "AI Customer Support Ticket System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [ { "mode": "everyMinute" } ] },
        "simple": false,
        "filters": {
          "labelIds": ["INBOX"],
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "1a1b1c1d-0001-4a4a-8a8a-000000000001",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [ -1120, 0 ],
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CRED_ID", "name": "Gmail account (support inbox)" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "e1", "name": "ticketId", "type": "string", "value": "={{ 'TCK-' + $now.format('yyyyMMdd-HHmmss') + '-' + Math.floor(Math.random()*900+100) }}" },
            { "id": "e2", "name": "senderName", "type": "string", "value": "={{ $json.from.split('<')[0].trim().replace(/\"/g,'') }}" },
            { "id": "e3", "name": "senderEmail", "type": "string", "value": "={{ ($json.from.match(/<(.+)>/) ? $json.from.match(/<(.+)>/)[1] : $json.from).trim() }}" },
            { "id": "e4", "name": "subject", "type": "string", "value": "={{ $json.subject }}" },
            { "id": "e5", "name": "body", "type": "string", "value": "={{ $json.text || $json.textAsHtml || '' }}" },
            { "id": "e6", "name": "receivedAt", "type": "string", "value": "={{ $json.date || $now.toISO() }}" },
            { "id": "e7", "name": "gmailMessageId", "type": "string", "value": "={{ $json.id }}" },
            { "id": "e8", "name": "gmailThreadId", "type": "string", "value": "={{ $json.threadId }}" }
          ]
        },
        "options": {}
      },
      "id": "1a1b1c1d-0002-4a4a-8a8a-000000000002",
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ -900, 0 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 300,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI assistant that classifies customer support emails for a SaaS company. Respond ONLY with a single valid JSON object. No markdown, no code fences, no explanation, no text outside the JSON. The JSON must exactly match this schema: {\\\"summary\\\": string (max 2 sentences, plain text), \\\"category\\\": one of [\\\"Bug\\\", \\\"Feature Request\\\", \\\"Billing\\\", \\\"General Inquiry\\\"], \\\"urgency\\\": one of [\\\"Low\\\", \\\"Medium\\\", \\\"High\\\"], \\\"sentiment\\\": one of [\\\"Positive\\\", \\\"Neutral\\\", \\\"Negative\\\"]}. If unsure, choose the closest matching category and default urgency to Medium.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Sender: {{ $json.senderName }} <{{ $json.senderEmail }}>\\nSubject: {{ $json.subject.replace(/\\\"/g, \\\"'\\\") }}\\nBody:\\n{{ $json.body.replace(/\\\"/g, \\\"'\\\").replace(/\\n/g, ' ') }}\\n\\nAnalyze this email and return the JSON classification only.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 15000,
          "retry": { "retryOnFail": true, "maxTries": 4, "waitBetweenTries": 3000 }
        }
      },
      "id": "1a1b1c1d-0003-4a4a-8a8a-000000000003",
      "name": "Groq - Classify Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -680, 0 ],
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": { "id": "GROQ_CRED_ID", "name": "Groq API Key (Authorization: Bearer)" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate and parse the Groq classification response.\n// Throws a descriptive error on malformed JSON so the Error Trigger workflow can catch it.\nconst allowedCategory = ['Bug', 'Feature Request', 'Billing', 'General Inquiry'];\nconst allowedUrgency = ['Low', 'Medium', 'High'];\nconst allowedSentiment = ['Positive', 'Neutral', 'Negative'];\n\nconst input = $input.first().json;\nconst rawContent = input?.choices?.[0]?.message?.content;\n\nif (!rawContent) {\n  throw new Error('Groq classification response missing message content. Raw response: ' + JSON.stringify(input).slice(0, 500));\n}\n\nlet parsed;\ntry {\n  // Strip accidental code fences just in case the model adds them\n  const cleaned = rawContent.trim().replace(/^```json/i, '').replace(/^```/, '').replace(/```$/, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('Groq classification did not return valid JSON: ' + rawContent.slice(0, 300));\n}\n\nif (!allowedCategory.includes(parsed.category)) parsed.category = 'General Inquiry';\nif (!allowedUrgency.includes(parsed.urgency)) parsed.urgency = 'Medium';\nif (!allowedSentiment.includes(parsed.sentiment)) parsed.sentiment = 'Neutral';\nif (typeof parsed.summary !== 'string' || !parsed.summary.trim()) parsed.summary = 'No summary generated.';\n\nreturn [{\n  json: {\n    ...$('Extract Email Data').first().json,\n    summary: parsed.summary,\n    category: parsed.category,\n    urgency: parsed.urgency,\n    sentiment: parsed.sentiment\n  }\n}];"
      },
      "id": "1a1b1c1d-0004-4a4a-8a8a-000000000004",
      "name": "Validate & Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -460, 0 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.5,\n  \"max_tokens\": 350,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional, empathetic customer support agent. Write email replies that are warm, concise, and under 150 words. Do not promise specific fixes, timelines, or new features. When appropriate, mention general next steps such as 'our team is reviewing this'. Return ONLY the plain-text email body, no subject line, no markdown, ending with 'Best regards,\\nSupport Team'.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer name: {{ $json.senderName }}\\nSubject: {{ $json.subject.replace(/\\\"/g, \\\"'\\\") }}\\nOriginal message:\\n{{ $json.body.replace(/\\\"/g, \\\"'\\\").replace(/\\n/g, ' ') }}\\n\\nClassification -> category: {{ $json.category }}, urgency: {{ $json.urgency }}, sentiment: {{ $json.sentiment }}\\nSummary: {{ $json.summary }}\\n\\nWrite a professional reply email body.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 15000,
          "retry": { "retryOnFail": true, "maxTries": 4, "waitBetweenTries": 3000 }
        }
      },
      "id": "1a1b1c1d-0005-4a4a-8a8a-000000000005",
      "name": "Groq - Generate Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ -240, 0 ],
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": { "id": "GROQ_CRED_ID", "name": "Groq API Key (Authorization: Bearer)" }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst draft = input?.choices?.[0]?.message?.content;\nif (!draft || !draft.trim()) {\n  throw new Error('Groq draft-reply response missing message content. Raw response: ' + JSON.stringify(input).slice(0, 500));\n}\nreturn [{\n  json: {\n    ...$('Validate & Parse Classification').first().json,\n    draftResponse: draft.trim()\n  }\n}];"
      },
      "id": "1a1b1c1d-0006-4a4a-8a8a-000000000006",
      "name": "Extract Draft Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -20, 0 ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": { "mode": "name", "value": "support-approvals" },
        "message": "=*New support ticket needs approval* :envelope_with_arrow:\n\n*Ticket:* {{ $json.ticketId }}\n*Customer:* {{ $json.senderName }} ({{ $json.senderEmail }})\n*Subject:* {{ $json.subject }}\n*Category:* {{ $json.category }}   *Urgency:* {{ $json.urgency }}   *Sentiment:* {{ $json.sentiment }}\n\n*AI Summary:*\n{{ $json.summary }}\n\n*Draft Response:*\n{{ $json.draftResponse }}",
        "approvalOptions": {
          "values": {
            "approveLabel": "Approve & Send",
            "disapproveLabel": "Reject",
            "approveType": "approve"
          }
        },
        "options": { "limitWaitTime": { "limitType": "afterTimeInterval", "resumeAmount": 24, "resumeUnit": "hours" } }
      },
      "id": "1a1b1c1d-0007-4a4a-8a8a-000000000007",
      "name": "Slack - Send for Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [ 200, 0 ],
      "webhookId": "slack-approval-webhook-0007",
      "credentials": {
        "slackApi": { "id": "SLACK_CRED_ID", "name": "Slack Bot (support-approvals)" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.data.approved }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a1b1c1d-0008-4a4a-8a8a-000000000008",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [ 420, 0 ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $('Extract Email Data').first().json.gmailMessageId }}",
        "threadId": "={{ $('Extract Email Data').first().json.gmailThreadId }}",
        "message": "={{ $('Extract Draft Text').first().json.draftResponse }}",
        "options": { "senderName": "Support Team" }
      },
      "id": "1a1b1c1d-0009-4a4a-8a8a-000000000009",
      "name": "Gmail - Send Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [ 640, -140 ],
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CRED_ID", "name": "Gmail account (support inbox)" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "mode": "id", "value": "GOOGLE_SHEET_ID" },
        "sheetName": { "mode": "name", "value": "Tickets" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $('Extract Draft Text').first().json.ticketId }}",
            "Date": "={{ $('Extract Draft Text').first().json.receivedAt }}",
            "Customer Name": "={{ $('Extract Draft Text').first().json.senderName }}",
            "Customer Email": "={{ $('Extract Draft Text').first().json.senderEmail }}",
            "Subject": "={{ $('Extract Draft Text').first().json.subject }}",
            "Category": "={{ $('Extract Draft Text').first().json.category }}",
            "Sentiment": "={{ $('Extract Draft Text').first().json.sentiment }}",
            "Urgency": "={{ $('Extract Draft Text').first().json.urgency }}",
            "AI Summary": "={{ $('Extract Draft Text').first().json.summary }}",
            "Draft Response": "={{ $('Extract Draft Text').first().json.draftResponse }}",
            "Response Status": "Approved - Sent",
            "Final Response": "={{ $('Extract Draft Text').first().json.draftResponse }}",
            "Resolution Date": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "1a1b1c1d-0010-4a4a-8a8a-000000000010",
      "name": "Sheets - Log Approved Ticket",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 860, -140 ],
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "GSHEETS_CRED_ID", "name": "Google Sheets (support tickets)" }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "mode": "name", "value": "support-approvals" },
        "text": "=:x: *Ticket {{ $('Extract Draft Text').first().json.ticketId }} was rejected*\n\n*Customer:* {{ $('Extract Draft Text').first().json.senderName }} ({{ $('Extract Draft Text').first().json.senderEmail }})\n*Subject:* {{ $('Extract Draft Text').first().json.subject }}\n\nThe AI draft was not approved. Please edit the response manually and send it, then update the ticket status in the sheet.",
        "options": {}
      },
      "id": "1a1b1c1d-0011-4a4a-8a8a-000000000011",
      "name": "Slack - Notify Rejection",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [ 640, 140 ],
      "onError": "continueErrorOutput",
      "credentials": {
        "slackApi": { "id": "SLACK_CRED_ID", "name": "Slack Bot (support-approvals)" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "mode": "id", "value": "GOOGLE_SHEET_ID" },
        "sheetName": { "mode": "name", "value": "Tickets" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $('Extract Draft Text').first().json.ticketId }}",
            "Date": "={{ $('Extract Draft Text').first().json.receivedAt }}",
            "Customer Name": "={{ $('Extract Draft Text').first().json.senderName }}",
            "Customer Email": "={{ $('Extract Draft Text').first().json.senderEmail }}",
            "Subject": "={{ $('Extract Draft Text').first().json.subject }}",
            "Category": "={{ $('Extract Draft Text').first().json.category }}",
            "Sentiment": "={{ $('Extract Draft Text').first().json.sentiment }}",
            "Urgency": "={{ $('Extract Draft Text').first().json.urgency }}",
            "AI Summary": "={{ $('Extract Draft Text').first().json.summary }}",
            "Draft Response": "={{ $('Extract Draft Text').first().json.draftResponse }}",
            "Response Status": "Rejected - Needs Manual Edit",
            "Final Response": "",
            "Resolution Date": ""
          }
        },
        "options": {}
      },
      "id": "1a1b1c1d-0012-4a4a-8a8a-000000000012",
      "name": "Sheets - Log Rejected Ticket",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [ 860, 140 ],
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "GSHEETS_CRED_ID", "name": "Google Sheets (support tickets)" }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": { "main": [ [ { "node": "Extract Email Data", "type": "main", "index": 0 } ] ] },
    "Extract Email Data": { "main": [ [ { "node": "Groq - Classify Email", "type": "main", "index": 0 } ] ] },
    "Groq - Classify Email": { "main": [ [ { "node": "Validate & Parse Classification", "type": "main", "index": 0 } ] ] },
    "Validate & Parse Classification": { "main": [ [ { "node": "Groq - Generate Draft Reply", "type": "main", "index": 0 } ] ] },
    "Groq - Generate Draft Reply": { "main": [ [ { "node": "Extract Draft Text", "type": "main", "index": 0 } ] ] },
    "Extract Draft Text": { "main": [ [ { "node": "Slack - Send for Approval", "type": "main", "index": 0 } ] ] },
    "Slack - Send for Approval": { "main": [ [ { "node": "Approved?", "type": "main", "index": 0 } ] ] },
    "Approved?": {
      "main": [
        [ { "node": "Gmail - Send Reply", "type": "main", "index": 0 } ],
        [ { "node": "Slack - Notify Rejection", "type": "main", "index": 0 } ]
      ]
    },
    "Gmail - Send Reply": { "main": [ [ { "node": "Sheets - Log Approved Ticket", "type": "main", "index": 0 } ] ] },
    "Slack - Notify Rejection": { "main": [ [ { "node": "Sheets - Log Rejected Ticket", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ERROR_HANDLING_WORKFLOW_ID"
  },
  "pinData": {},
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": false }
}
